<!-- app/views/designs/index.html.erb -->
<section class="index-page py-10">

  <div class="py-4 px-2 mx-auto max-w-screen-xl sm:py-4 lg:px-6">
    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 h-full">
      <% @designs.each_with_index do |design, index| %>
        <% if index == 0 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-2 bg-gray-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% elsif index == 1 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-2 bg-gray-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% elsif index == 2 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-1 bg-sky-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% elsif index == 3 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-1 bg-gray-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% elsif index == 4 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-2 bg-gray-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% elsif index == 5 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-1 bg-gray-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% elsif index == 6 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-1 bg-gray-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% elsif index == 7 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-1 bg-gray-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% elsif index == 8 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-1 bg-gray-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% elsif index == 9 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-2 bg-gray-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% elsif index == 10 %>
          <div class="col-span-2 sm:col-span-2 md:col-span-1 bg-gray-50 flex flex-col" style="height: 300px;">
            <a href="<%= design_path(design) %>" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow">
              <%= image_tag design.profile_picture.attached? ? design.profile_picture : 'placeholder-image-url.jpg', class: 'absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out' %>
              <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
              <h3 class="z-10 text-xs font-medium text-white absolute top-0 left-0 p-4 sm:text-sm md:text-base lg:text-lg"><%= design.name %></h3>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


</section>






