<section class="about-page py-10 px-4">
  <div class="py-4 px-2 mx-auto max-w-md sm:max-w-lg md:max-w-xl lg:max-w-[600px]">
    <div class="rounded-md">
      <%= image_tag "landing9.jpg", class: "d-block h-100 w-100 object-cover object-top rounded-md", alt: "Fourth slide" %>
    </div>
    <h2 style="color: #024525; font-size: 20px; font-weight: bold; margin-top: 30px;">Collaborators</h2>
    <p style="color: #024525; margin-top: 30px;"><strong>EN</strong> I am working with a variety of actors from the public and private sector, as well
as in education, research and publishing.</p>

<p style="color: #024525; margin-top: 30px; font-style: italic;"><strong>FR</strong> Je travaille avec divers acteurs des secteurs public et privé, ainsi que de l&#39;éducation, de
la recherche et de l&#39;édition.</p>

    <h2 style="color: #024525; font-size: 20px; font-weight: bold; margin-top: 30px;">Logos :</h2>
    <div class="mt-1 mb-1 w-2/6">
      <hr style="color: #024525; font-weight: bold; margin: 0;">
    </div>
    
   <div class="grid grid-cols-3 gap-4" style="margin-top: 40px; margin-bottom: 40px;">
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo1.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo2.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo3.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo4.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo5.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo6.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo7.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo8.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo9.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo10.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo11.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo12.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo13.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo14.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>
    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo15.jpg', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>

    <div style="
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 200px;
">
      <%= image_tag 'logo16.png', alt: 'Photo of Ana Lena Hahn', class: 'rounded-md' %>
    </div>

  </div>

    

    

    <div class="mt-1 mb-1 w-2/5">
      <hr style="color: #024525; font-weight: bold; margin: 0;">
    </div>
    <p style="text-align: justify; color: #024525"><strong>EN</strong> The design and realisation of the website have been done by Mahmoud Moursy
"info@cmesolutions.fr" The photographs on this website are taken by Noémie
Malaize, Christophe Pelaprat, Jean-Sébastien Caron, Thomas Veigel, Luc Assens
and myself.</p>

  <div class="mt-1 mb-1 w-2/4">
      <hr style="color: #024525; font-weight: bold; margin: 0;">
    </div>
  <p style="color: #024525; text-align: justify; font-style: italic;"><strong>FR</strong> La conception et la réalisation du site web ont été menées par Mahmoud
Moursy "info@cmesolutions.fr" Les photographies de ce site ont été prises par
Noémie Malaize, Christophe Pelaprat, Jean-Sébastien Caron, Thomas Veigel, Luc
Assens et moi-même.</p>

  
</section>